@import './studio-base.css';

:host,
.studio-scale-125 {
    /* 
    * Medium scale 
    */
    --studio-scale: 1.25; /* 125 %*/
    /* Gap */
    --studio-size-gap: 5px;
    --studio-size-layout-gap: var(--studio-size-gap);
    /* Font sizes */
    --studio-size-font-xxs: 12px;
    --studio-size-font-xs: 15px;
    --studio-size-font-s: 17px;
    --studio-size-font-m: 20px;
    --studio-size-font-l: 22px;
    --studio-size-font-xl: 25px;
    /* Base units (u) */
    --studio-size-1u: 5px;
    --studio-size-2u: 10px;
    --studio-size-3u: 15px;
    --studio-size-4u: 20px;
    --studio-size-5u: 25px;
    --studio-size-6u: 30px;
    --studio-size-7u: 35px;
    --studio-size-8u: 40px;
    --studio-size-9u: 45px;
    --studio-size-10u: 50px;
    --studio-size-20u: 100px;
    --studio-size-50u: 250px;
    --studio-size-90u: 450px;
    --studio-size-100u: 500px;
    /* Block units (b) */
    --studio-size-1b: 40px;
    --studio-size-2b: 85px;
    --studio-size-3b: 130px;
    --studio-size-4b: 175px;
    --studio-size-5b: 220px;
    --studio-size-6b: 265px;
    --studio-size-7b: 310px;
    --studio-size-8b: 355px;
    --studio-size-9b: 400px;
    --studio-size-10b: 445px;
    --studio-size-11b: 490px;
    --studio-size-12b: 535px;
}